.certificates {
  width: 100%;

  &__title {
    margin: 50px 10px 10px 10px;

    @media print {
      margin: 10px;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    padding: 40px 0px;
  }

  &__link {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__text {
    margin-top: 10px;
    text-align: center;
  }

  &__img {
    width: 200px;
    transition: 0.3s;
    box-shadow: 0px 0px 25px #22222299;

    &:hover {
      box-shadow: 0px 0px 25px #22222250;
      transition: 0.3s;
    }
  }
}
