a,
*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

// SCSS Миксин:
// calculates proper font-size and line-height due to viewport
// many thnx to @youtube Freelancer for life
$maxWidth: 1000;

@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
  line-height: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}) * 1.5
  );
  // @include adaptiv-font(16, 12);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  background: #f8f8f8;
}

//
.container {
  margin: 0 auto;
  max-width: $maxWidth + px;
}

.main section {
  padding: 40px 0px;
  border: 1px solid #f8f8f866;
  border-left: none;
  border-right: none;

  @media print {
    padding: 10px;
  }
}

main {
  transition: background-color .7s ease-out;
  .title,
  .subtitle,
  .text,
  .subtext {
    transition: color .7s ease-in;
  }
  &.dark_theme {
    background-color: #222;
    transition: background-color .7s ease-in;
    .title,
    .subtitle,
    .text,
    .subtext {
      transition: color .7s ease-in;
      color: #f8f8f899;
    }
  }
}

main.dark_theme {
  .project__img {
    box-shadow: 0px 0px 25px #f8f8f899;

    &:hover {
      box-shadow: 0px 0px 25px #f8f8f8;
    }
  }
  .certificates__img {
    box-shadow: 0px 0px 25px #f8f8f899;
  
    &:hover {
      box-shadow: 0px 0px 25px #f8f8f8;
    }
  }
}

.hidden {
  display: none;
}

.title {
  @include adaptiv-font(30, 22);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #222;
}

.subtitle {
  @include adaptiv-font(26, 20);
  font-weight: 700;
  color: #222;
}

.text {
  @include adaptiv-font(20, 18);
  font-weight: 400;
  color: #222;
}

.subtext {
  @include adaptiv-font(14, 12);
  font-weight: 400;
  color: #222;
}

.buttons__block {
  display: flex;
}

.theme-switch-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  & i:first-child {
    color: #ffee00;
    margin-right: 5px;
  }

  & i:last-child {
    color: #f8f8f8;
  }
}

.button {
  cursor: pointer;
  text-align: center;
  color: #f8f8f8;
  border: 1px solid #222;
  background: transparent;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-width: 250px;
  padding: 20px;

  &__item {
    margin: 5px;
    list-style: none;

    &:hover .contacts__link {
      color: #f8f8f8;
      transition: 0.5s;
    }
    &:hover .icon {
      border: 3px solid #f8f8f8;
      background-color: #f8f8f8;
      transition: 0.5s;
    }
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  color: #767575;
  transition: 0.5s;

  & .icon {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 3px solid #767575;
    background-color: #767575;
    margin: 0px 5px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    transition: 0.5s;

    &.email {
      background-image: url("../icons/email.png");
    }
    &.phone {
      background-image: url("../icons/phone.png");
    }
    &.skype {
      background-image: url("../icons/skype.png");
    }
    &.whatsapp {
      background-image: url("../icons/whatsapp.png");
    }
    &.github {
      background-image: url("../icons/github.png");
    }
    &.telegram {
      background-image: url("../icons/telegram.png");
      background-position: -1px;
    }
  }
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;
  width: 40px;
  height: 40px;

  &__checkbox {
    display: none;
  }

  &__label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #f8f8f8;
    border-radius: 50%;
    overflow: hidden;
  }

  &__label__img {
    width: 90%;
    height: 90%;
  }

  &__list {
    transform: scale(0);
    transform-origin: top right;
    position: absolute;
    top: 0px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222ec;
    border-radius: 25px;
    box-shadow: 0px 0px 25px #000;
    text-align: center;
    transition: 0.5s;
  }

  &__checkbox:checked ~ &__list {
    transform: scale(1);
    transition: 0.5s;
  }

  &__list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }

  &__link {
    cursor: pointer;
    color: #fff;
    height: 40px;
    width: 20%;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 600px) {
      display: none;
    }
  }
}
