.education {
  width: 100%;

  &__inner {
    padding: 40px 0px;

    @media print {
      padding: 10px;
    }
  }

  &__list {
    margin: 30px;

    @media print {
      margin: 10px;
    }
  }

  &__list__item {}

  &__item__title {
    margin-left: 20px;
  }

  &__item__subtitle {}
}