.more {
  width: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 30px;
    margin: 40px 0;

    @media print {
      margin: 10px;
    }

    & .skill {
      &_title {
        margin-bottom: 20px;
      }

      &_list {
        display: flex;
        gap: 10px;
      }
    }
  }

  &__item {
    box-sizing: border-box;
    border: 1px solid rgb(118, 117, 117);
    border-radius: 10px;
    color: rgb(118, 117, 117);
    padding: 5px;
  }
}
