.projects {
  width: 100%;
  padding-top: 100px;

  &__title {
    padding: 0px 0 10px 0;
    margin-top: 100px;

    @media print {
      margin-top: 10px;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
  }
}

.project {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin: 50px 0;

  @media print {
    margin: 20px 0;
  }

  &__title {
    margin: 30px;
    text-align: center;
  }

  &__links {
    display: flex;
    justify-content: flex-end;
    gap: 30px;

    & .link {
      text-decoration: none;
    }
  }

  &__slide-box {
    display: flex;
    width: 100%;
    height: 750px;
    border-radius: 10px;
    gap: 10px;

    @media (width < 1600px) {
      height: 40vw;
    }

    @media (width < 600px) {
      flex-direction: column;
      height: 70vw;
    }

    & .slide {
      flex: 1;
      cursor: pointer;
      border-radius: 20px;
      background-color: #fdfdfd;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.5s ease-in;
      box-shadow: 0px 0px 25px #2222222a;
      opacity: 0.8;

      &:hover {
        opacity: 1;
        box-shadow: 0px 0px 25px #22222280;
      }

      &.active {
        // background-size: contain;
        opacity: 1;
        flex: 12;
        cursor: unset;
        transition: 0.5s ease-out;
        padding: 10px;
      }
    }
  }

  &__description {
    padding: 15px;

    & .text {
      margin: 10px;
    }

    & .stack {
      text-align: end;
    }

    &__list {
      padding: 10px;
      list-style-position: inside;
    }

    &__list__item {
      list-style-position: inside;
      padding: 5px;

      & p {
        padding: 5px 0px 5px 20px;
      }
    }
  }
}
