.projects {
  width: 100%;
  padding-top: 100px;
  &__title {
    padding: 10px 0 10px 0;

    @media print {
      margin-top: 10px;
    }
  }
  &__switch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    & button {
      user-select: none;
      text-transform: uppercase;
      cursor: pointer;
      transition: box-shadow 0.3s ease-out;
      &:not(.projects__switch_active):hover {
        box-shadow: 0px 1px 14px 3px #2222222a;
        transition: box-shadow 0.3s ease-in;
      }
    }
    &_active {
      background-color: #5c01952a;
      box-shadow: 0px 1px 14px 3px #5c01952a;
      transition: box-shadow 0.3s ease-in;
    }
  }
  &__inner {
    display: flex;
    width: 100%;
  }
  &-horizontal {
    display: flex;
    transition: all .5s ease-out;
  }
  &-horizontal-wrapper {
    overflow: visible;
  }
}

.project {
  flex: none;
  scroll-snap-align: start;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  min-height: 90vh;
  width: 100%;

  @media print {
    margin: 20px 0;
  }

  &__title {
    margin: 30px;
    text-align: center;
  }

  &__slide-box {
    flex: 2;
    display: flex;
    gap: 10px;
    width: 100%;
    border-radius: 10px;
    transform: translateZ(0);

    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(-16deg, #e81cff 25%, #40c9ff 100%);
      transform: translate3d(0px, -16px, 0) scale(0.8);
      filter: blur(73px);
      opacity: 0;
      transition: opacity 0.3s ease-out;
      border-radius: inherit;
    }
    &:hover::before {
      opacity: 1;
      transition: opacity 0.5s ease-in;
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      border-radius: inherit;
    }

    @media (width < 600px) {
      flex-direction: column;
      height: 70vw;
    }

    & .slide {
      flex: 1;
      cursor: pointer;
      border-radius: 20px;
      background-color: #fdfdfd;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      transition: all 0.5s ease-in-out;
      &.active {
        opacity: 1;
        flex: 12;
        cursor: unset;
        transition: all 0.5s ease-in-out;
        padding: 10px;
      }
    }
  }

  &__description {
    width: 100%;
    flex: 1;
    padding: 15px;

    & .links {
      display: flex;
      justify-content: center;
      gap: 30px;

      & .link {
        text-decoration: none;
      }
    }

    & .text {
      margin: 10px;
    }

    & .stack {
      text-align: center;
    }

    &__list {
      padding: 10px;
      list-style-position: inside;
    }

    &__list__item {
      list-style-position: inside;
      padding: 5px;

      & p {
        padding: 5px 0px 5px 20px;
      }
    }
  }
}
