* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.title {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
}

.subtitle {
  margin: 10px;
  font-size: 22px;
  line-height: 24px;
}

.header {
  background-color: #222;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

@media (max-width: 1100px) {
  .container {
    max-width: 90%;
  }
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__wr {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts__list__item {
  list-style: none;
  cursor: pointer;
  padding: 5px;
}

.contacts__link {
  color: #fff;
}

.about__info {
  color: #fff;
  font-weight: 700;
  line-height: 2.2em;
}

.about__info__title {
  font-size: 1.8em;
}

.about__info__subtitle {
  font-size: 1.5em;
}

.about__img {
  width: 30%;
  border-radius: 10px;
  margin: 10px;
}

.about__steck__list {
  display: none;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 40px;
  max-width: 375px;
}

.steck__list__item {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

.navbar {
  margin-bottom: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
}

.navbar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #222222ec;
  max-width: 800px;
  min-height: 50px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 25px #000;
          box-shadow: 0px 0px 25px #000;
  margin: 10px 0 -60px 0;
  padding: 0px 20px;
  text-align: center;
}

.navbar__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px;
}

.navbar__link {
  cursor: pointer;
  color: #fff;
  height: 40px;
  width: 20%;
  list-style: none;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 600px) {
  .navbar__link {
    display: none;
  }
}

.home__link {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  background-color: #fff;
}

.home__img {
  width: 100%;
  height: 100%;
  -webkit-transform: scale(130%);
      -ms-transform: scale(130%);
          transform: scale(130%);
}

.proj {
  width: 100%;
  margin: 150px 0;
}

.proj__title {
  padding: 0 0 10px 0;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin: 50px 0;
}

.project__img {
  width: 90%;
  border-radius: 10px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0px 0px 25px #22222266;
          box-shadow: 0px 0px 25px #22222266;
}

.project__img:hover {
  -webkit-box-shadow: 0px 0px 25px #222222;
          box-shadow: 0px 0px 25px #222222;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.project__description {
  max-width: 500px;
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__description__title {
  margin: 10px;
  font-size: 22px;
  line-height: 24px;
}

.project__description__text {
  margin: 10px;
  font-style: 16px;
  line-height: 18px;
}

.project__description__list {
  padding: 10px;
  list-style-position: inside;
}

.project__description__list__item {
  list-style-position: inside;
}

.xper {
  width: 100%;
  margin: 100px 0;
  min-height: 100vh;
  padding: 20px;
}

.xper__title {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
}

.xper__list {
  padding: 10px 0 10px 0;
}

.xper__list__item:first-child {
  list-style: none;
}

.xper__list__item {
  list-style-position: inside;
}

.xper__item__title {
  font-size: 1.3em;
  line-height: 1.5em;
}

.xper__item__subtitle {
  padding: 0 0 7px 0;
  font-size: 1.2em;
  line-height: 1.4em;
}

.education {
  margin: 100px 0;
  min-height: 100vh;
}

.edu {
  width: 100%;
  padding: 20px;
}

.education__item {
  padding: 20px;
}
/*# sourceMappingURL=style.css.map */