* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 350px;
}

.header {
  background-color: #eaeaea;
}

.navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.navbar .navbar::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-color: #222;
  top: 30px;
}

.navbar__gohome__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30%;
  min-height: 40px;
  padding: 5px;
}

.navbar__gohome__link .navbar__gohome__img {
  width: 100%;
  height: 98%;
  padding: 10px;
}

.navbar__menu {
  max-width: 30%;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__checkbox {
  display: none;
}

.menu__checkbox:checked ~
.menu__list {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu__checkbox:checked ~
.menu__label__button {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__label__button {
  display: block;
  width: 45px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__label__burger {
  display: block;
  width: 100%;
  height: 10%;
  background-color: #222;
  position: relative;
}

.menu__label__burger::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
  top: 15px;
}

.menu__label__burger::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #222;
  top: -15px;
}

.menu__list {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  position: absolute;
  top: 50px;
  right: 0px;
}

.about {
  text-align: center;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projects__title {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 24px;
}

.projects .projects__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px;
  margin: 0 -10px 40px -10px;
}

.projects .projects__item {
  outline: 1px solid black;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 10px;
  background-image: url(../../img/clothes/fetured_item_img_1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.projects .projects__item .projects__item__text {
  display: block;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  bottom: -30px;
  width: 100%;
}

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 20px 10px;
  width: 100%;
}

.examples__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 340px;
  min-height: 500px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #f8f5f5;
  border-radius: 5px;
  -webkit-box-shadow: 10px;
          box-shadow: 10px;
}

.examples__item .examples__item__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 320px;
  height: 80%;
}

.examples__item .examples__item__title {
  padding: 20px 0 20px 0;
}
/*# sourceMappingURL=superstyle.css.map */