.header {
  background-color: #222;

  &__inner{
    position: relative;
  }
}

.header__buttons{
  position: absolute;
  right: 0;
  bottom: -20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (max-width: 633px) {
    padding-bottom: 35px;
  }
}
.about__img {
  display: block;
  min-width: 250px;
  border-radius: 10px;
  margin: 10px;
}
.about__info {
  color: #f8f8f8;
  font-weight: 700;  
  text-align: left;
  padding: 10px
}
.about__info__title {
  @include adaptiv-font(30, 20);
}
.about__info__subtitle {
  @include adaptiv-font(21, 16);
}
.about__info__location{
  @include adaptiv-font(20, 14);
  font-weight: 400;
}
