*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}
// SCSS Миксин:
// calculates proper font-size and line-height due to viewport
// many thnx to @youtube Freelancer for life
$maxWidth: 1220;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
 line-height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}) * 1.5);
 // @include adaptiv-font(16, 12);
}
a {
  text-decoration: none;
}
body{
  background: #f8f8f8;
}

.title{
  @include adaptiv-font(30, 22);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #222;

  &-dark{
    color: #f8f8f8
  }
}
.subtitle{
  @include adaptiv-font(26, 20);
  font-weight: 700;
  color: #222;

  &-dark{
    color: #f8f8f8
  }
}
.text{
  @include adaptiv-font(18, 14);
  font-weight: 400;
  color: #222;

  &-dark{
    color: #f8f8f8
  }
}
.subtext{
  @include adaptiv-font(14, 12);
  font-weight: 400;
  color: #222;

  &-dark{
    color: #f8f8f8
  }
}

//
.container {
  margin: 0 auto;
  max-width: 1000px;
  @media (max-width: 1100px) {
    max-width: 90%;
  }
}
.header {
  background-color: #222;
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media (max-width: 633px) {
    padding-bottom: 35px;
  }
}
.about__img {
  display: block;
  width: 30%;
  border-radius: 10px;
  margin: 10px;
}
.about__info {
  color: #fff;
  font-weight: 700;  
  text-align: right;
}
.about__info__title {
  @include adaptiv-font(30, 20);
}
.about__info__subtitle {
  @include adaptiv-font(26, 16);
}
.about__contacts__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: absolute;
  bottom: -35px;
  right: -10px;
}
.contacts__list__item {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;  
  list-style: none;
  cursor: pointer;
  border-radius: 50%;
  background-color: #222;
  border: 5px solid #222;
  padding: 5px;
  margin: 10px 5px;  
  position: relative;
  width: 50px;
  height: 50px;  
}
.contacts__list__item:hover
.contacts__link{
  transform: scale(120%) rotate(15deg);
  color: #fff;
  transition: .5s;
}
.contacts__list__item::after{
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  box-shadow: -5px -5px 0px #222;
  border-top-left-radius: 50%;
  top: 50%;
  right: -15px;
}
.contacts__list__item::before{
  content: '';
  width: 10px;
  height: 10px;
  display: block;
  position: absolute;
  box-shadow: 5px -5px 0px #222;
  border-top-right-radius: 50%;
  top: 50%;
  left: -15px;
}
.contacts__link{  
  color: rgb(118, 117, 117);  
  font-size: 30px;
  transition: .5s;
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;

  &__checkbox{
    display: none;
  }
  &__label{
    cursor: pointer;  
    width: 40px;
    height: 40px;
    background-color: #f8f8f8;
    border-radius: 50%;
    overflow: hidden;
  }
  &__label__img{
    width: 90%;
    height: 90%;
  }  
  &__list {
    transform: scale(0);
    transform-origin: top right;
    position: absolute;
    top: 0px;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222222ec;
    border-radius: 25px;
    box-shadow: 0px 0px 25px #000;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: 0.5s;
  }
  &__checkbox:checked ~ &__list{
    transform: scale(1);
    transition: 0.5s;
  }
  &__list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  &__link{
    cursor: pointer;
    color: #fff;  
    height: 40px;
    width: 20%;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .workxp__link {

  }
  .projects__link {

  }  
  .edu__link {
  }
  .more__link {
  }
}
.main section{
  padding: 40px 0px;
  border: 1px solid #f8f8f866;
  border-left: none;
  border-right: none;
}
main.dark_theme {
  background-color: #222;  
  .title,
  .subtitle,
  .text,
  .subtext{    
    color: #f8f8f899
  }
}
main.dark_theme {
  .project__img{
    box-shadow: 0px 0px 25px #f8f8f899;
    &:hover{
      box-shadow: 0px 0px 25px #f8f8f8;    
    }
  }
}
.projects {
  width: 100%;
}
.proj__title{
  padding: 0 0 10px 0;
}
.project{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin: 50px 0;

  &__link{
  }
  &__img{
    width: 90%;
    border-radius: 10px;
    transition: .5s;
    box-shadow: 0px 0px 25px #22222266;
    &:hover{
      box-shadow: 0px 0px 25px #222222;
      transition: .5s;
    }
  }
  &__description{
    margin-left: 15px;
  
    &__title{
      margin: 10px;
    }
    &__text{
      margin: 10px;      
    }
    &__list{      
      padding: 10px;
      list-style-position: inside;
    }
    &__list__item{
      list-style-position: inside;
    }
  }
}

//
.more {
  width: 100%;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 40px 0;
  }
  &__item{
    box-sizing: border-box;
    border: 1px solid rgb(118, 117, 117);
    border-radius: 10px;
    color: rgb(118, 117, 117);
    padding: 5px;
    margin: 5px;
  }
}

//

//
.education {
  width: 100%;
  
  &__item{
    padding: 20px;
  }
  &__inner{
    padding: 40px 0px;
  }
}
.certificates {
  width: 100%;

  &__title{
  margin: 50px 10px 10px 10px ;
  }
  &__inner{
  display: flex;
  padding: 40px 0px;
  }  
  &__link {
  padding: 10px;
  }
  &__img {
  min-width: 100px;
  position: relative;

    &::after{
      content: ('123');
      display: block;
      position: absolute;
      color: #222;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }
}  

//
.xper {
  width: 100%;

  &__title {

  }
  &__inner{
    padding: 40px 0px;
  }
  &__list {
    padding: 10px 0 10px 0;
  }
  &__list__item:first-child{
    list-style: none;
  }
  &__list__item {
    list-style-position: inside;
  }
  &__item__title {
    padding: 10px;
  }
  &__item__subtitle {
    padding: 0 0 7px 0;
    font-weight: 700;
  }
}

//
.footer {
  background: #222;

  &__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 10px;
  }
  &__contacts__list{
    
  }
  &__contacts__list__item{
    margin: 5px;
    list-style: none;
  }
  &__contacts__link{
    display: inline-block;
    color: rgb(118, 117, 117);
    transition: .5s;

    &:hover{
      color: #f8f8f8;
      transition: .5s;
    }

    & i{
      padding: 0 10px 0 0 ;
    }
  }
}