*{
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
// SCSS Миксин:
// calculates proper font-size and line-height due to viewport
// many thnx to @youtube Freelancer for life
$maxWidth: 1220;
@mixin adaptiv-font($pcSize, $mobSize) {
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
 line-height: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}) * 1.5);
}
// @include adaptiv-font(16, 12);
a {
  text-decoration: none;
}
.title {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
}
.subtitle{
  margin: 10px;
  font-size: 22px;
  line-height: 24px;
}
.header {
  background-color: #222;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  @media (max-width: 1100px) {
    max-width: 90%;
  }
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__img {
  display: block;
  width: 30%;
  border-radius: 10px;
  margin: 10px;
}
.about__wr{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.about__contacts__list {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.contacts__list__item {
  list-style: none;
  cursor: pointer;
}
.contacts__link{
  color: #fff;
  padding: 10px;
  @include adaptiv-font(50, 40);
}
.about__info {
  color: #fff;
  font-weight: 700;  
  text-align: right;
}
.about__info__title {
  @include adaptiv-font(30, 20);
}
.about__info__subtitle {
  @include adaptiv-font(26, 16);
}

.about__steck__list {
  display: none;
  justify-content: left;
  align-items: center;
  min-height: 40px;
  max-width: 375px;
}
.steck__list__item {
  list-style: none;
  text-decoration: none;
  cursor: pointer;
  padding: 10px;
  color: #fff;
}

.navbar {
  width: 30%;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  position: relative;

  &__checkbox{
    display: none;
  }
  &__label{
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    background-color: #fff;
  }
  &__label__img{
    width: 100%;
    height: 100%;
    transform: scale(130%);
  }
  &__checkbox:checked ~ &__list{
    visibility: visible;
  }
  &__list {
    visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #222222ec;
    border-radius: 25px;
    box-shadow: 0px 0px 25px #000;
    margin: 10px;
    padding: 10px;
    text-align: center;
  }
  &__list__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
  }
  &__link{
    cursor: pointer;
    color: #fff;  
    height: 40px;
    width: 20%;
    list-style: none;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 600px) {
      display: none;
    }
  }
  .workxp__link {

  }
  .projects__link {

  }  
  .edu__link {
  }
  .more__link {
  }
}
.proj {
  width: 100%;
  margin: 150px 0;
}
.proj__title{
  padding: 0 0 10px 0;
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
}
.project{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
  margin: 50px 0;

  &__link{
  }
  &__img{
    width: 90%;
    border-radius: 10px;
    transition: .5s;
    box-shadow: 0px 0px 25px #22222266;
    &:hover{
      box-shadow: 0px 0px 25px #222222;
      transition: .5s;
    }
  }
  &__description{
    max-width: 500px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
  
    &__title{
      margin: 10px;
      font-size: 22px;
      line-height: 24px;
    }
    &__text{
      margin: 10px;
      font-style: 16px;
      line-height: 18px;
    }
    &__list{
      padding: 10px;
      list-style-position: inside;
    }
    &__list__item{
      list-style-position: inside;
    }
  }
}
.xper {
  width: 100%;
  margin: 100px 0;
  min-height: 100vh;
  padding: 20px;

}
.xper__title {
  font-size: 1.5em;
  line-height: 1.7em;
  font-weight: 700;
}
.xper__list {
  padding: 10px 0 10px 0;
}
.xper__list__item:first-child{
  list-style: none;
}
.xper__list__item {
  list-style-position: inside;

}
.xper__item__title {
  font-size: 1.3em;
  line-height: 1.5em;
}
.xper__item__subtitle {
  padding: 0 0 7px 0;
  font-size: 1.2em;
  line-height: 1.4em;
}
.education{
  margin: 100px 0;
  min-height: 100vh;
}
.edu {
  width: 100%;
  padding: 20px;

}
.education__item{
  padding: 20px;
}
.more {
}
.footer {
}