*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline-color: #f16d7f;
}
body{
  font-family: lato;
  height: 100%;
}
button{
  background: transparent;
  padding: 0;
  border: none;
}
li, a, ul {
  text-decoration: none;
  list-style: none;
}
h1, h2, h3, h4, h5, h6{
  font-family: lato;
  font-weight: 400;
}
header, main, footer{
  width: 100%;
}
.body__wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main{
  flex: 1 1 auto;
}
.container {
  max-width: 97%;
  margin: 0 auto;
}
.navbar__bg{
  background-color: #222;
  height: 75px;
  display: flex;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 0 15px;
}
.navbar_btn{
  background-color: #222;
  border: none;
}
.navbar__leftside {
  display: flex;
}
.navbar__leftside__gohome:hover{
  transform: scale(115%);
  transition: .5s;
}
.navbar__leftside__gohome{
  height: 38px;
  width: 44px;
  margin-right: 41px;
  transition: .5s;
}
.navbar__leftside__search{
  position: relative;
}
.navbar__leftside__search__chbox{
  display: none;
}
.navbar__leftside__search__label{
  position: relative;
  width: 32px;
  height: 32px;
}
.navbar__leftside__search__label__img {
  position: absolute;
  top: 7px;
  left: 3px;
  fill: #e8e8e8;
  width: 29px;
  height: 29px;
  transition: .5s;
}
.navbar__leftside__search__label:hover
.navbar__leftside__search__label__img{
  transition: .5s;
  fill: #f16d7f;
  transition: .5s;
  transform: scale(115%);
}
.navbar__leftside__search__form {
  position: absolute;
  padding-left: 40px;
  display: flex;  
  align-items: flex-end;
  transform: scale(0);
  transition: .5s;
  transform-origin: top left;
  top: 70px;
  left: -136px;
}
.navbar__leftside__search__input {
  background-color: #e1e1e1;
  border: none;
  width: 250px;
  height: 40px;
  text-align: center;
  border-radius: 50px 0 0 50px;
  color: #f16d7f;  
}
.navbar__leftside__search__btn {
  background-color: #f16d7f;
  border: #f16d7f 2px solid;
  width: 100px;
  height: 40px;
  border-radius: 0 50px 50px 0;
  color: #e8e8e8;
  transition: .5s;
}
.navbar__leftside__search__btn:hover {
  background-color: #f8f8f8;
  color: #f16d7f;
  transition: .5s;
}
.navbar__leftside__search__chbox:checked ~
.navbar__leftside__search__form{
  transform: scale(1);
  transition: .5s;
}
/*navbar_rightside<------------ */
.navbar__rightside {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: .5s;
}
.navbar__rightside__menu__hover {
  position: relative;
}
.navbar__rightside__menu__hover:hover 
.navbar__rightside__menu__label{
  transform: scale(115%);
  transition: .5s;
}
.navbar__rightside__menu__hover:hover 
.navbar__rightside__menu__burger,
.navbar__rightside__menu__hover:hover 
.navbar__rightside__menu__burger::after,
.navbar__rightside__menu__hover:hover 
.navbar__rightside__menu__burger::before {
  background-color: #f16d7f;
  transition: .5s;
}
.burger__input{
  display: none;
}
.burger__input:checked ~ .popup__menu{
  transform: scale(1);
  transition: .5s;
}
.burger__input:checked ~ .navbar__rightside__menu__label {
  transform: scale(120%) rotate(90deg);
  transition: .3s;
} 
.navbar__rightside__menu__label{
  display: block;
  width: 32px;
  height: 30px;
  transition: .5s;
}
.navbar__rightside__menu__burger{
  display: block;
  background-color: #E8E8E8;
  height: 2px;
  width: 32px; 
  border: none;
  position: relative;
  transition: .5s;
}
.navbar__rightside__menu__burger::before {
  content: '';
  position: absolute;
  top: 14px;
  background-color: #E8E8E8;
  height: 2px;
  width: 32px; 
  transition: .5s;
}
.navbar__rightside__menu__burger::after {
  content: '';
  position: absolute;
  top: 27px;
  background-color: #E8E8E8;
  height: 2px;
  width: 100%; 
  transition: .5s;
}

/*-----------POPUP------------*/
.popup__menu {
  transform: scale(0);
  transition: .5s;
  transform-origin: top right;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 232px;
  height: 764px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  position: absolute;
  top: 53px;
  right: 0px;
  z-index: 1000;
}
.popup__menu__closer {
  position: absolute;  
  width: 17px;
  height: 17px;
  right: 16px;
  top: 16px;
  background-color: transparent;
  border: none;
  padding: 0px;
  margin: 0px;
  color: #6F6E6E;
}
.popup__menu__closer:hover::before,
.popup__menu__closer:hover::after {
  transition: .5s;
  background-color: #F16D7F; 
}
.popup__menu__closer:hover::before {
  transition: .5s;
  background-color: #F16D7F;
}
.popup__menu__closer::before, 
.popup__menu__closer::after {
  position: absolute;
  top: -5px;
  left: 15px;
  content: ' ';
  height: 17px;
  width: 2px;
  background-color: #6F6E6E;
}
.popup__menu__closer:before {
  transform: rotate(45deg);
}
.popup__menu__closer:after {
  transform: rotate(-45deg);
}
.popup__menu__title {
  margin: 37px 0px 25px 33px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  display: inline-block;
}
.popup__menu__subtitle {
  margin-left: 33px;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
}
.popup__menu__list {
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  margin-left: 55px;
}
.popup__menu__item {
  margin: 11px ;
  list-style-type: none;
}
.popup__menu__link{
  margin: 0 0 10px 48px;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  text-decoration: none;
  transition:.5s;
  padding: 5px;
}
.popup__menu__link:hover{
  color: #fff;
  background-color: #f16d7f;
  border-radius: 5px;
  transition: .5s;
}

/* END OF POPUP<---------------------- */
.navbar__rightside__account:hover{
  transform: scale(115%);
  transition: .5s;
}
.navbar__rightside__account {
  margin: 0 33px;
  fill: #e8e8e8;
  height: 29px;
  width: 32px;  
  transition: .5s;
}
.navbar__rightside__cart:hover{
  transform: scale(115%);
  transition: .5s;
}
.navbar__rightside__cart { 
  position: relative;
  fill: #e8e8e8;
  height: 29px;
  width: 32px;
  transition: .5s;
}
.navbar__rightside__cart:hover,
.navbar__rightside__account:hover{  
  fill: #f16d7f;
  transition: .5s;
}
.navbar__rightside__cart__badge{
  position: absolute;
  top: -8px;
  right: -10px;
  border: none;
  border-radius: 50%;
  background-color: #F16D7F;
  height: 19px;
  width: 19px;
  text-align: center;
  color: #e8e8e8;
}
/* ---> inner <--- */
.inner__bg{
  background-color: #F1E4E6;
}
.inner{
  display: flex;
  background-image: url(../img/mainpage/header_leftside_image.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  min-height: 764px;
  align-items: center;
  justify-content: end;
  margin-bottom: 50px;
}
.inner__text{
  text-transform: uppercase;
  color: #222;
  position: relative;
}
.inner__text::before{
  content: '';
  display: block;
  position: absolute;
  Width: 12px;
  Height: 100%;
  background-color: #F16D7F;
  left: -20px;
  top: 5px;
}
.inner__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  margin: 0;
}
.inner__subtitle {
  line-height: 45px;
  font-size: 37px;
  font-weight: 700;
  font-style: normal;
}
.inner__subtitle span{
  color: #F16D7F;
}

/* Categories <--------------*/
.categories {
  margin-bottom: 96px;
  text-transform: uppercase;
  text-align: center;
}
.categories__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
  margin: -10px;
}
.categories__box__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33%;
  min-height: 260px;
  margin: 10px;
  flex: 1;
}
.categories__box__item__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 180px;
  margin: 10px;  
}
.categories__box__item__link{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: .5s;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.categories__box__item__link:hover{
  transform: scale(105%);
  transition: .5s;
}
.for_woman{
  background-image: url(../img/mainpage/categories_for_woman.jpg);
}
.for_man {
  background-image: url(../img/mainpage/categories_for_man.jpg);
}
.for_kids {
  background-image: url(../img/mainpage/categories_for_kids.jpg);
}
.Accesories {
  background-image: url(../img/mainpage/categories_accesories.jpg);
}
.categories__item__promo {
  font-size: 16px;
  line-height: 19px;
  color: #e8e8e8;
  font-weight: 400;
}
.categories__item__title {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
  font-weight: 700;
}

/* catalogue_main <-------------------- */
.fetured {
  text-align: center;
  margin-bottom: 95px;
}
.fetured__title {
  font-size: 30px;
  line-height: 36px;
  color: #222;
  position: relative;
}
.fetured__subtitle {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin-bottom: 57px;
}
.fetured__item__box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-between;
}
.featured__item {
  position: relative;
  background-color: #f8f8f8;
  text-align: left;
  max-width: 360px;
  min-height: 581px;
  margin: 15px 0;
}
.featured__item:hover .featured__item__img{
  filter: brightness(33%);
  transition: .5s;
}
.featured__item__img {
  display: block;
  transition: .5s;
}
.featured__item__text {
  padding: 25px 28px 20px 16px;
}
.featured__item__title {
  font-size: 13px;
  line-height: 16px;
  color: #000;
  text-transform: uppercase;
}
.featured__item__promo {
  margin: 16px 0 16px 0;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
}
.featured__item__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.featured__item__hover__btn {
  position: absolute;
  background-image: url(../img/mainpage/fetured_item_hover_btn_img.svg);
  background-repeat: no-repeat;
  background-position: 10% center;
  text-align: right;
  top: 30%;
  left: 30%;
  height: 43px;
  width: 138px;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px;
  display: none;
  transition: .5s;
}
.featured__item:hover 
.featured__item__hover__btn{
  display: block;
}
.featured__item__hover__btn:hover { 
  background-color: #f8f8f854;
  transition: .5s;
}
.fetured__button {
  border: 1px solid #fF6a6a;
  color: #f26376;
  font-size: 16px;
  line-height: 19px;
  width: 211px;
  height: 47px;
  background-color: #fff;
  transition: .5s;
}
.fetured__button:hover {
  color: #fff;
  background-color: #f26376;
  transition: .5s;
}
.advantages__bg {
  background-color: #222224;  
  width: 100%;
}
.advantages__box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 341px;
}
.advantages__item {
  width: 360px;
  min-height: 182px;
  color: #fbfbfb;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  fill: #f16d7f;
  transition: .5s;
}
.advantages__item__image {
}
.advantages__item:hover{
  fill: #e9e8e8;
  color: #f16d7f;
  transition: .5s;
}
.advantages__item__title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin: 22px 0 15px 0;
}
.advantages__item__description {
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.footer {
}
.footer__upper__bg {
  background-color: #e9e8e8;  
  width: 100%;
  background-image: url(../img/mainpage/footer_subscribe_bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}
.footer__upper {
  min-height: 448px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 65px 0 100px 0;
}
.footer__upper__leftside {
  max-width: 360px;
  min-height: 225px;
  text-align: center;
  padding: 15px;
}
.footer__upper__leftside__image {
  margin-bottom: 20px;
}
.footer__upper__leftside__text {
  font-size: 20px;
  line-height: 24px;
  color: #222224;
}
.footer__upper__rightside {
  max-width: 360px;
  min-height: 225px;
  padding: 15px;
  text-align: center;
  color: #222224;
  align-content: center;
}
.footer__upper__rightside__title {
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: 700;
}
.footer__upper__rightside__description {
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  font-weight: 400;
}
.footer__upper__rightside__form {
  max-width: 350px;
  height: 50px;
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
}
.footer__upper__rightside__form__email {
  background-color: #e1e1e1;
  border: none;
  max-width: 250px;
  height: 50px;
  padding-left: 35px;
  border-radius: 50px 0 0 50px;  
}
.footer__upper__rightside__form__btn {
  background-color: #f16d7f;
  border: #f16d7f 2px solid;
  width: 100px;
  height: 50px;
  border-radius: 0 50px 50px 0;
  color: #fff;
  transition: .5s;
}
.footer__upper__rightside__form__btn:hover{
  background-color: #e1e1e1;
  transition: .5s;
  border: #f16d7f 2px solid;
  color: #f16d7f;
}
.footer__lower__bg {  
  background-color: #222224;
}
.footer__lower {
  min-height: 80px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}
.footer__lower__rights {
  color: #fbfbfb;
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
}
.footer__lower__socials {
  display: flex;
  justify-content: space-between;
}
.footer__lower__socials__item:hover {
  background-color: #f16d7f;
  transition: .5s;
}
.footer__lower__socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #fff;
  margin: 4px;
  border-radius: 15%;
  transition: .5s;
}

/* Breadcrumbs<--------------------- */
.breadcrumbs__bg{
  background-color: #f8f3f4;
}
.breadcrumbs {
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
  padding: 0 15px;
}
.breadcrumbs__title {
  font-size: 24px;
  line-height: 29px;
  color: #f16d7f;
}
.breadcrumbs__list {
  font-weight: 300;
  line-height: 17px;
  color: #636363;
  font-size: 14px;
  display: flex;
}
.breadcrumbs__list__item::after {
  content: '\00a0 / \00a0';
}
.breadcrumbs__list :last-child::after {
  display: none;
}
.breadcrumbs__list__item {

}
.breadcrumbs__title:active,
.breadcrumbs__list__item__link:hover {
  color: #f16d7f;
  transition: .5s;
}
.breadcrumbs__list__item__link:active,
.breadcrumbs__list__item__link,
.pink:hover,
.breadcrumbs__title:active {
  color: #636363;
  transition: .5s;
}
.pink,
.pink:active {
  color: #f16d7f;
  transition: .5s;
}
/* SORT <--------------------------------- */
/* sort_filter <-------------------------- */
.sort {
  height: 132px;
  display: flex;
  align-items: center;  
}
.sort__filter__box {
  display: flex;
  flex-direction: column;
  position: relative;
}
.sort__filter__box *:hover{
  transition: .5s;
}
.sort__filter__box *{
  transition: .5s;
}
.sort__filter__chck {
  display: none;
}
.sort__filter__label{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-Weight: 600;
  font-size: 14px;
  height: 17px;
  padding: 16px 16px 18px 16px;
  min-width: 360px;
  transition: .5s;
}
.sort__filter__chck:checked ~ 
.sort__filter__label{
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
.sort__filter__label__mark{
  position: relative;
  width: 10px;
  background-color: #000;
  height: 1.5px;
  margin-left: 11px;
}
.sort__filter__label__mark::after{
  content: '';
  position: absolute;
  width: 5px;
  height: 1.5px;
  top: 4px;
  background-color: #000;
}
.sort__filter__label__mark::before{
  content: '';
  position: absolute;
  width: 15px;
  height: 1.5px;
  top: -4px;
  background-color: #000;
}
.sort__filter__label:hover
.sort__filter__label__text{
  color:#f16d7f;
}
.sort__filter__label:hover
.sort__filter__label__mark,
.sort__filter__label:hover 
.sort__filter__label__mark:before,
.sort__filter__label:hover 
.sort__filter__label__mark:after{
  background-color: #f16d7f;
}
.sort__filter__list{
  transform: scaleY(0);
  transition: .5s;
  transform-origin: top;
  width: 360px;
  height: 531px;
  z-index: 1000;
  position: absolute;
  top: 32px;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding: 0px 0 0 17px;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.sort__filter__chck:checked ~ 
.sort__filter__list{
  transform: scaleY(1);
  transition: .5s;
  background-color: #fff;  
}
.sort__filter__list input {
  display: none;
}
.sort__filter__list__title,
.sort__filter__list__title:active{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6f6e6e;
  padding: 10px 0 10px 16px;
  position: relative;
  margin: 8px 0 16px 0;
}
.sort__filter__list__title:hover{
  color: #f16d7f;
  transition: .5s;
}
.sort__filter__list__title::after{
  content: '';
  position: absolute;
  height: 37px;
  width: 5px;
  top: 0px;
  left: 0px;
  background-color: #f16d7f;
}
.sort__filter__list__title::before{
  content: '';
  position: absolute;
  height: 1px;
  width: 328px;
  top: 36px;
  left: 0px;
  background-color: #ebebeb;
}
.sort__filter__list__category{
  margin: 24px 16px;
}
/* .sort__filter__list__category li:last-child{
  padding: 0;
} */
.sort__filter__list__item,
.sort__filter__list__item:active { 
  font-size: 14px;
  line-height: 17px;
  color: #6f6e6e;
  padding-bottom: 11px;
}
.sort__filter__list__item:hover {
  color: #f16d7f;
  transition: .5s;
}
/* sort_trending */
.sort__hover{
  transition: .5s;
}
.sort_hover:hover {
  color: #f16d7f;
  transition: .5s;
}
/*<------------ */
.sort__trending__box {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6f6e6e;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 30px;
}
.sort__trending__check {
  display: none;
}
.sort__trending__label {
  display: flex;
  position: relative;
  height: 20px;
  width: 132px;
}
.sort__trending__label::before {
  content: '';
  width: 7px;
  height: 1px;
  transform: rotate(30deg);
  position: absolute;
  background-color: #6f6e6e;
  top: 10px;
  right: 8px;
}
.sort__trending__label::after {
  content: '';
  width: 7px;
  height: 1px;
  transform: rotate(-30deg);
  position: absolute;
  background-color: #6f6e6e;
  top: 10px;
  right: 2px;
}
.sort__trending__check:checked ~
.sort__trending__label::before{
  transform: rotate(-30deg);
}
.sort__trending__check:checked ~
.sort__trending__label::after{
  transform: rotate(30deg);
}
.sort__trending__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  visibility: hidden;
  position: absolute;
  width: 79px;
  height: 103px;
  background-color: #fff;
  top: 30px;
  right: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.sort__trending__check:checked ~
.sort__trending__list{
  visibility: visible;
}
.sort__trending__list__item {
  padding: 5px 0 0 10px;
}
 /* sort_size <------------------ */
 .sort__size__box {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6f6e6e;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 30px 0 30px;
}
.sort__size__check {
  display: none;
}
.sort__size__label {
  display: flex;
  position: relative;
  height: 20px;
  width: 60px;
}
.sort__size__label::before {
  content: '';
  width: 7px;
  height: 1px;
  transform: rotate(30deg);
  position: absolute;
  background-color: #6f6e6e;
  top: 10px;
  right: 8px;
}
.sort__size__label::after {
  content: '';
  width: 7px;
  height: 1px;
  transform: rotate(-30deg);
  position: absolute;
  background-color: #6f6e6e;
  top: 10px;
  right: 2px;
}
.sort__size__check:checked ~
.sort__size__label::before{
  transform: rotate(-30deg);
}
.sort__size__check:checked ~
.sort__size__label::after{
  transform: rotate(30deg);
}
.sort__size__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  visibility: hidden;
  position: absolute;
  width: 79px;
  height: 103px;
  background-color: #fff;
  top: 30px;
  right: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.sort__size__check:checked ~
.sort__size__list{
  visibility: visible;
}
.sort__size__list__item {
  padding: 5px 0 0 10px;
}

/* sort_price <----------------------- */
.sort__price__box {
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6f6e6e;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
}
.sort__price__check {
  display: none;
}
.sort__price__label {
  display: flex;
  position: relative;
  height: 20px;
  width: 60px;
}
.sort__price__label::before {
  content: '';
  width: 7px;
  height: 1px;
  transform: rotate(30deg);
  position: absolute;
  background-color: #6f6e6e;
  top: 10px;
  right: 8px;
}
.sort__price__label::after {
  content: '';
  width: 7px;
  height: 1px;
  transform: rotate(-30deg);
  position: absolute;
  background-color: #6f6e6e;
  top: 10px;
  right: 2px;
}
.sort__price__check:checked ~
.sort__price__label::before{
  transform: rotate(-30deg);
}
.sort__price__check:checked ~
.sort__price__label::after{
  transform: rotate(30deg);
}
.sort__price__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  visibility: hidden;
  position: absolute;
  width: 79px;
  height: 103px;
  background-color: #fff;
  top: 30px;
  right: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.sort__price__check:checked ~
.sort__price__list{
  visibility: visible;
}
.sort__price__list__item {
  padding: 5px 0 0 10px;
}
/* pagination <------------------ */
.pagination{
  display: flex;
  height: 188px;
  justify-content: center;
  align-items: center;
}
.pagination__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #c4c4c4;
  width: 285px;
  height: 45px;
  padding: 15px;
}
.pagination__list__item{
  text-align: center;
}
.pagination__list__item__link:active,
.pagination__list__item__link {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  transition: .5s;
  display: block;
  height: 20px;
  width: 20px;
}
.pagination__list__item:hover
.pagination__list__item__link{
  color: #f16d7f;
  transition: .5s;
}
.pagination__list__item__prev{
  display: block;
  position: relative;
  height: 15px;
  width: 15px;
}
.pagination__list__item__prev::before{
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #000;
  top: 5px;
  left: 0px;
}
.pagination__list__item__prev::after{
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #000;
  transform: rotate(45deg);
  top: 15px;
  left: 0px;
}
.pagination__list__item__next{
  display: block;
  position: relative;
  height: 15px;
  width: 15px;  
}
.pagination__list__item__next::before{
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  transform: rotate(45deg);
  background-color: #000;
  top: 5px;
  right: -5px;
}
.pagination__list__item__next::after{
  content: '';
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #000;
  transform: rotate(-45deg);
  top: 15px;
  right: -5px;
}
.pagination__list__item:hover
.pagination__list__item__prev::before,
.pagination__list__item:hover
.pagination__list__item__prev::after,
.pagination__list__item:hover
.pagination__list__item__next::before,
.pagination__list__item:hover
.pagination__list__item__next::after{
  background-color: #f16d7f;
}
 /* Product <---------------- */
.carousel{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 777px;
  background-color: #f7f7f7;
  position: relative;
}
.carousel__img{
  transition: .7s;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.carousel__img__box{
  max-width: 550px;
}
.carousel__img:hover {
  display: block;
  transform: scale(150%);
  transform-origin: center top;
  transition: .5s;
  z-index: 1002;
  border-radius: 30px;
}
.carousel__left:active,
.carousel__left{
  width: 47px;
  height: 47px;
  background-color: #c4c4c4;
  position: absolute;
  left: 0;
}
.carousel__right:active,
.carousel__right {
  width: 47px;
  height: 47px;
  background-color: #c4c4c4;
  position: absolute;
  right: 0;
}
.carousel__left:active::before,
.carousel__left::before{
  position: absolute;
  content: '';
  background-color: #000;
  width: 13px;
  height: 2px;
  top: 28px;
  left: 20px;
  transform: rotate(45deg);
  transition: .5s;
}
.carousel__left:active::after,
.carousel__left:after{
  position: absolute;
  content: '';
  background-color: #000;
  width: 13px;
  height: 2px;
  top: 19px;
  left: 20px;
  transform: rotate(-45deg);
  transition: .5s;
}
.carousel__right:active::after,
.carousel__right::after{
  position: absolute;
  content: '';
  background-color: #000;
  width: 13px;
  height: 2px;
  top: 19px;
  left: 15px;
  transform: rotate(45deg);
  transition: .5s;
}
.carousel__right:active::before,
.carousel__right::before{
  position: absolute;
  content: '';
  background-color: #000;
  width: 13px;
  height: 2px;
  top: 28px;
  left: 15px;
  transform: rotate(-45deg);
  transition: .5s;
}
.carousel__left:hover::before,
.carousel__left:hover::after,
.carousel__right:hover::before,
.carousel__right:hover::after{
  background-color: #f16d7f;
  transition: .5s;
}
.checkout__wrapper {
  position: relative;
  height: 600px;
  margin-bottom: 60px;
}
.checkout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: 1px solid #eaeaea;
  background-color: #fff;
  height: 600px;
  width: 100%;
  padding: 60px 0 70px 0;
  margin-top: -60px;
}
.checkout__info {
  display: flex;
  flex-direction: column;
  max-width: 555px;
  align-items: center;
  justify-content: center;
  padding-bottom: 130px;
}
.checkout__info__collection {
  text-transform: uppercase;
  line-height: 17px;
  font-size: 14px;
  color: #f16d7f;
  font-weight: 300;
}
.checkout__info__collection__after{
  background-color: #f16d7f;
  height: 2px;
  width: 63px;
  margin: 12px 0 12px 0;
}
.checkout__info__product {
  font-size: 18px;
  line-height: 22px;
  color: #4d4d4d;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 50px;
}
.checkout__info__description {
  line-height: 17px;
  font-size: 14px;
  color: #5e5e5e;
  font-weight: 300;
  padding-bottom: 32px;
}
.checkout__price{
  font-size: 18px;
  line-height: 22px;
  color: #f16d7f;
  font-weight: 300;
  text-transform: uppercase;
}
.dropdown{
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
 }
.dropdown::before{
  content: '';
  position: absolute;
  width: 640px;
  height: 1px;
  background-color: #c4c4c4; 
  top: -65px;
  left: -130px;
}
 .dropdown__box {
  height: 20px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #6f6e6e;
  text-transform: uppercase;
  display: flex;
  margin: 0 10px 0 10px;
  padding-right: 20px;
  position: relative;
}
.dropdown__check {
  display: none;
}
.dropdown__label{
  width: 100%;
  height: 100%;
}
.dropdown__img {
  position: relative;
  height: 20px;
}
.dropdown__img::before {
  content: '';
  width: 7px;
  height: 1px;
  transform: rotate(30deg);
  position: absolute;
  background-color: #6f6e6e;
  top: 8px;
  right: -18px;
}
.dropdown__img::after {
  content: '';
  width: 7px;
  height: 1px;
  transform: rotate(-30deg);
  position: absolute;
  background-color: #6f6e6e;
  top: 8px;
  right: -24px;
}
.dropdown__check:checked ~
.dropdown__img::before{
  transform: rotate(-30deg);
}
.dropdown__check:checked ~
.dropdown__img::after{
  transform: rotate(30deg);
}
.dropdown__list {
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  visibility: hidden;
  position: absolute;
  width: 79px;
  height: 103px;
  background-color: #fff;
  top: 30px;
  right: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.dropdown__check:checked ~
.dropdown__list{
  visibility: visible;
}
.dropdown__list__item {
  padding: 5px 0 0 10px;
}
.checkout__button{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 211px;
  height: 47px;
  border: 1px solid #fF6a6a;
  color: #f26376;
  fill: #f16d7f;
  font-size: 16px;
  line-height: 19px;
  padding: 10px;
  transition: .5s;
}
.checkout__button:hover {
  color: #fff;
  fill: #fff;
  background-color: #f26376;
  transition: .5s;
}
 /* cart <------------- */

 .cart {
  display: flex;
  justify-content: space-between;
  min-height: 1000px;
  padding: 96px 0 126px 0;
}
.cart__left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cart__left__list {
}
.cart__left__list__item {
  margin-bottom: 40px;
}

/* --> prod card <-------- */
.cart__product {
  display: flex;
  justify-content: space-between;
  max-width: 650px;
  max-height: 300px;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.25);
}
.cart__product__img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  object-position: center;
}
.cart__product__infobox {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1 1 auto;
}
.cart__product__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 40px;
}
.cart__product__title {
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  color: #222;
  padding-bottom: 40px;
  max-width: 200px;
}
.cart__product__description__item {
  display: flex;
}
.cart__product__description__item__title {
  flex: 1;
  text-transform: capitalize;
}
.cart__product__description__item__value {
  flex: 1;
  color: #6f6f6f;
}
.cart__product__price {
  color: #f16d7f;
}
.cart__product__size {
  text-transform: uppercase;
}
.cart__product__color {
}
.cart__product__quantity {
}
.cart__product__description__item__input {
  height: 25px;
  width: 45px;
  border: 1px solid #eaeaea;
  font-size: 18px;
  text-align: center;
  color: #656565;
}
.cart__product__description__item__input::placeholder{
  font-size: 18px;
  text-align: center;
  color: #656565;
}
      .cart__product__closer:hover::before,
      .cart__product__closer:hover::after{
        background-color: #f16d7f;
        transition: .5s;
      }
      .cart__product__closer:active::before,
      .cart__product__closer:active::after{
        background-color: #575757;
      }
      .cart__product__closer{
        position: relative;
        width: 18px;
        height: 18px;
      }
      .cart__product__closer::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        transform: rotate(45deg);
        background-color: #575757;
        top: 8px;
        left: 0px;
        transition: .5s;
      }
      .cart__product__closer::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        transform: rotate(-45deg);
        background-color: #575757;
        top: 8px;
        left: 0px;
        transition: .5s;
      }
/* <------------------------ */

.cart__left__end {
  display: flex;
  justify-content: space-between;
}
.cart__left__end__button {
  width: 235px;
  height: 50px;
  border: 1px solid #a4a4a4;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  margin: 50px;
}
.cart__right {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.cart__right__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 360px;
  height: 272px;
  margin-bottom: 60px;
}
.cart__right__form__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
}
.cart__right__form__input {
  width: 100%;
  height: 45px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  border: 1px solid #a4a4a4;
  color: #222;
  padding: 0 0 0 17px;
}
.cart__right__form__input:focus{
  color: #b1b1b1;
  border: 1px solid #f16d7f;
}
.cart__right__form__btn:hover{
  background-color: #a4a4a4;
  border: 1px solid #fff;
  color: #fff;

}
.cart__right__form__btn,
.cart__right__form__btn:active{
  border: 1px solid #a4a4a4;
  background-color: transparent;
  width: 100px;
  height: 35px;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #a4a4a4;
}
.cart__right__check {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  text-transform: uppercase;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: right;
  position: relative;
}
.cart__right__check__subtotal {
  font-size: 11px;
  line-height: 13px;
  font-weight: 400;
  color: #222;
}
.cart__right__check__subprice {
  padding-left: 26px;
}
.cart__right__check__grandtotal {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #4a4a4a;
  margin: 12px 0 40px 0;
}
.cart__right__check__grandprice {
  color: #f16d7f;
  padding-left: 26px;
}
.cart__right__check__button:hover {
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  transition: .5s;
}
.cart__right__check__button,
.cart__right__check__button:active {
  width: 100%;
  min-height: 50px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  background-color: #f16d7f;
  color: #fff;
  text-transform: uppercase;
  transition: .5s;
}
.cart__right__check::after{
  content: '';
  position: absolute;
  display: block;
  background-color: #e2e2e2;
  width: 78%;
  height: 1px;
  bottom: 50%;
  right: 11%;
}
 /* Account Registration <------ */
.registration {
 min-height: 675px;
 padding: 60px 0 96px 0;
 display: flex;
 justify-content: space-between;
}
.registration__form {
  max-width: 360px;
  margin-right: 20px;
}
.registration__name__box{

}
.registration__title {
  margin-bottom: 20px;
  color: #4a4a4a;
}
.registration__input {
  width: 100%;
  height: 45px;
  padding: 17px;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}
.registration__radio__box{
  margin-bottom: 30px;
}
.registration__radio {
  margin-right: 10px;
  height: 17px;
  width: 17px;
}
.registration__radio__label{
  margin-right: 20px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
}
.registration__login__box{
  margin-bottom: 40px;
}
.registration__passrules {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #b1b1b1;
}
.registration__button:hover{
  background-color: #fff;
  color: #f16d7f;
  border: 1px solid #f16d7f;
  transition: .5s;
}
.registration__button:active,
.registration__button {
  padding: 15px 29px 15px 29px;
  width: 167px;
  height: 50px;
  background-color: #f16d7f;
  color: #fff;
  border: #f16d7f;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase;
  text-align: left;
  transition: .7s;
}
.registration__button__relay{
  position: relative;
}
.registration__button:hover ~
.registration__button__arrow,
.registration__button:hover ~
.registration__button__arrow::before,
.registration__button:hover ~
.registration__button__arrow::after{
  background-color: #f16d7f;
  transition: .5s;
}
.registration__button__arrow{
  position: absolute;
  height: 1px;
  width: 17px;
  background-color: #fff;
  top: 25px;
  left: 120px;
  transition: .7s;
}
.registration__button:active ~
.registration__button__arrow,
.registration__button:active ~
.registration__button__arrow::before,
.registration__button:active ~
.registration__button__arrow::after{
  background-color: #fff;
  transition: .5s;
}
.registration__button__arrow::before{
  content: '';
  position: absolute;
  height: 1px;
  width: 10px;
  transform: rotate(45deg);
  transform-origin: right;
  right: 0px;
  background-color: #fff;
  transition: .7s;
}
.registration__button__arrow::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 10px;
  transform: rotate(-45deg);
  transform-origin: right;
  right: 0px;
  background-color: #fff;
  transition: .7s;
}
.registration__perks {
  font-size: 24px;
  line-height: 29px;
  font-weight: 300;
  max-width: 650px;
  text-transform: capitalize;
}
.registration__perks__title {
  text-transform: uppercase;
  font-weight: 300;
}
.registration__perks__description {
  margin: 20px 0 20px 0;
  font-weight: 300;
}
.registration__perks__list {
}
.registration__perks__list__item {
  position: relative;
  padding: 0px 0px 16px 45px;
}
.registration__perks__list__item::before{
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  background-image: url(../img/account_registration/list_marker.svg);
  background-repeat: no-repeat;
  top: 7px;
  left: 5px;
}





/* --> media <-- */
@media (max-width: 1081px){
  .inner{
    min-height: 360px;
    margin-bottom: 15px;
  }  
  .inner__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 52px;
  }
  .inner__subtitle {
    line-height: 28px;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
  }
  .categories__box__item {
    min-height: 170px;
  }
  .categories__box__item__bottom {
    min-height: 115px;
  }
  .fetured__lastchld li:last-child{
    display: none;
  }
  .cart{
    flex-direction: column;
  }
  .cart__left {
    margin-bottom: 60px;
  }
  .cart__left__end{
    justify-content: space-evenly;
  }
  .cart__right{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  .cart__right__form{
    margin: 0px 20px 0 0;
  }
}
/* --> 768 <-- */
@media (max-width: 769px){
.container{
  max-width: 730px;
  padding-left: 16px;
  padding-right: 16px;
}
.sort__filter__label{
  min-width: 70px;
}
.registration__perks {
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  max-width: 358px;
}
}
/* --> 600 <-- */
@media (max-width: 640px){  
.inner{
  background-image: none;
  justify-content: center;
}
.inner__title {
  font-weight: 900;
  font-size: 38px;
  line-height: 46px;
}
.inner__subtitle {
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
}
.breadcrumbs{
  flex-direction: column;
  justify-content: space-evenly;
}
.sort__filter__label__text{
  display: none;
}
.sort__filter__label{
  min-width: 37px;
  min-height: 37px;
  padding: 0;
}
.sort__filter__label__mark{
  transform: scale(200%);
}
.sort__size__box{
  margin: 0 10px 0 10px;
}
.carousel{
  max-height: 600px;
}
.checkout{
  margin: 0;
  border: none;
}
.checkout__info{
  padding-bottom: 90px;
}
.dropdown__box {
  font-size: 10px;
  line-height: 12px;
}
.dropdown:before{
  width: 175px;
  left: 80px;
  top: -48px;
}
/* -->cart<-- */
.cart{
  padding: 40px 0 90px 0;
}
.cart__product {
  max-width: 360px;
  max-height: 190px;
  font-size: 14px;
  line-height: 16px;
}
.cart__product__img {
  max-height: 188px;
  max-width: 143px;
  object-fit: cover;
  object-position: center;
}
.cart__product__infobox {
  padding: 15px;
}
.cart__product__description {
  padding: 0 0 25px 0;
}
.cart__product__title {
  font-size: 16px;
  line-height: 18px;
  padding-bottom: 25px;
  max-width: 150px;
}
.cart__product__description__item__input {
  height: 15px;
  width: 24px;
}
.cart__product__description__item__input::placeholder,
.cart__product__description__item__input{
  font-size: 10px;
}
.cart__product__closer{
  width: 10px;
  height: 10px;
}
.cart__left__end{
  justify-content: space-between;
}
.cart__left__end__button{
  font-size: 12px;
  line-height: 14px;
  width: 175px;
  height: 33px;
  text-transform: capitalize;
  margin: 0 5px;
}
.cart__right{
  flex-direction: column;
  align-items: center;
}
.cart__right__form{
  margin: 0 10px 50px 10px;
}
.registration {
  flex-direction: column;
}
.registration__form {
  margin-bottom: 40px;
}
}
 /* --> 375 <-- */
@media (max-width: 426px) {
  .categories__box {
    flex-direction: column;
    padding: 0 15px 0 15px;
  }
  .categories__box__item {
    min-height: 260px;
    width: 100%;
    margin: 16px 0 16px 0;
  }
  .categories__box__item__bottom {
    margin: 16px 0 16px 0;
  }
  .footer__lower {
    justify-content: space-evenly;
  }
  .advantages__box{
    flex-direction: column;  
    align-items: center;
  }
  .navbar__rightside__account,
  .navbar__rightside__cart{
    display: none;
  }
}
