/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{
  list-style: none;
  margin: 0px 10px;
}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider__pagination .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__pagination .slick-dots li button{
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: rgba(44, 185, 175, 0.3);
  font-size: 0;
  border: none;
  transition: .5s;
}
.slider__pagination .slick-dots li button:hover{
  transition: .5s;
  border: 2px solid #2cb9b0;
  transform: scale(150%);
}
.slider__pagination .slick-dots li.slick-active button{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2cb9b0;
}
