/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{
}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{
  list-style: none;
  margin: 0px 10px;
}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

.slider__pagination .slick-dots{
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider__pagination .slick-dots li button{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  font-size: 0;
  border: none;
  transition: .5s;
}
.slider__pagination .slick-dots li:nth-child(1) button {
  background-image: url(../img/wear_icon/hoodie.png);
}
.slider__pagination .slick-dots li:nth-child(2) button {
  background-image: url(../img/wear_icon/sweatshort.png);
}
.slider__pagination .slick-dots li:nth-child(3) button {
  background-image: url(../img/wear_icon/t-shirt.png);
}
.slider__pagination .slick-dots li:nth-child(4) button {
  background-image: url(../img/wear_icon/trousers.png);
}
.slider__pagination .slick-dots li button:hover{
  transition: .5s;
  box-shadow: 0px 2px 10px 3px #22222266;
  transform: scale(115%);
}
.slider__pagination .slick-dots li.slick-active button{
  transition: .5s;
  box-shadow: 0px 2px 10px 3px #22222266;
  transform: scale(115%);
}
